body {
    font-family:'Times New Roman', Times, serif  
}

#navbar {
    background-color: #333 ;
    margin: 10px;
}

#navbar a {
    color:aliceblue;
    text-decoration: none;
    margin-right: 15px;
}

#navbar a:hover {
    text-decoration: underline;
}

.card{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.sty{
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid black;
}

.foot{
    background-color: #333 ;
    text-align: center;
    font-size: smaller;
}
.foot > p, a{
    color: white;
}

.main-img {
    width: 100%;
    max-width: 400px;
    display: block;
    margin-bottom: 10px;
}

.highlight {
    color:aliceblue;
    font-weight:bold;
}

table a{
    color: black;
}

table, th, td{
    margin: 20px;
    padding: 20px;
    border: 1px solid black;

}


@media (max-width: 600px){
    body{
        background-color: #e0e0e0;

    }

    #navbar a {
        display: block;
        margin-bottom: 10px;
    }
}

